

p {
    font-size: 44px; 
    //position: absolute;
    //top: 0;
    //left: 0;
}



#head {
    font-size: 15px; 
    color: red;
}

/* Style all your p tags */
/*
#header p {
   // font-size: 12px;
    color: red;
    text-decoration: underline;
}
*/
